<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBILnznWGYdAXtlhVRkWFknsz8wRJh_-vY</string>
	<key>GCM_SENDER_ID</key>
	<string>426371506040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.azubib2b.reactnative</string>
	<key>PROJECT_ID</key>
	<string>company-job-app</string>
	<key>STORAGE_BUCKET</key>
	<string>company-job-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426371506040:ios:7d4604d9896aedbb8a328d</string>
</dict>
</plist>